<!-- Cube Portfolio Blocks - Content -->
<div id="actress-section" class="container g-py-100">
  <!-- Heading -->
  <div class="g-max-width-550 text-center mx-auto g-mb-70">
    <h2 class="text-uppercase g-color-main-light-v1 g-font-weight-600 g-font-size-13 g-letter-spacing-2 mb-4">En el campo actoral he recorrido un largo camino</h2>
    <h2 class="h3 mb-5">Versatilidad y profesionalismo</h2>
  </div>
  <!-- End Heading -->

  <!-- Cube Portfolio Blocks - Filter -->
  <ul id="filterControls2" class="d-block list-inline text-center g-mb-50">
    <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-13 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
        data-filter="*">Todo
    </li>
    <li class="list-inline-item cbp-filter-item g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-13 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
        data-filter=".los12">Los 12 apostoles, pelicula Peruana
    </li>
    <li class="list-inline-item cbp-filter-item g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-13 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
        data-filter=".bombo">Como Bombo en Fiesta, pelicula chilena
    </li>
    <li class="list-inline-item cbp-filter-item g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-13 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
        data-filter=".sabado">Sábado Gigante
    </li>
    <li class="list-inline-item cbp-filter-item g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-13 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
        data-filter=".profugos">Prófugos, serie de HBO
    </li>
    <li class="list-inline-item cbp-filter-item g-brd-around g-brd-secondary-light-v2 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-13 g-rounded-30 g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
        data-filter=".prensa">Prensa
    </li>
  </ul>
  <!-- End Cube Portfolio Blocks - Filter -->

  <!-- Cube Portfolio Blocks - Items -->
  <div class="cbp g-mb-50"
       data-controls="#filterControls2"
       data-animation="quicksand"
       data-x-gap="10"
       data-y-gap="10"
       data-media-queries='[
         {"width": 1500, "cols": 3},
         {"width": 1100, "cols": 3},
         {"width": 800, "cols": 2},
         {"width": 480, "cols": 2},
         {"width": 300, "cols": 1}
       ]'>

    <!-- Cube Portfolio Blocks - Item: Los 12 apostoles -->
    <% for i in 1..9 %>
    <div class="cbp-item los12">
      <div class="u-block-hover g-parent">
        <a class="cbp-lightbox" href="<%= image_url "porfolio/candela-cine-Los-12-Apostoles_0#{i}.jpg" %>">
          <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="<%= image_url "porfolio/candela-cine-Los-12-Apostoles_0#{i}.jpg" %>" alt="Backstage Los 12 apostoles candela Show Woman">
        </a>
      </div>
    </div>
    <% end %>
    <!-- End Cube Portfolio Blocks - Item: Los 12 apostoles -->

    <!-- Cube Portfolio Blocks - Item: Bombo en Fiesta -->
    <% for i in 1..3 %>
    <div class="cbp-item bombo">
      <div class="u-block-hover g-parent">
        <a class="cbp-lightbox" href="<%= image_url "porfolio/candela-cine-Como-Bombo-en-fiesta_0#{i}.jpg" %>">
          <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="<%= image_url "porfolio/candela-cine-Como-Bombo-en-fiesta_0#{i}.jpg" %>" alt="Pelicula Como Bombo en Fiesta Candela Show Woman">
        </a>
      </div>
    </div>
    <% end %>
    <!-- End Cube Portfolio Blocks - Item: Bombo en Fiesta -->

    <!-- Cube Portfolio Blocks - Item: Sábado Gigante -->
    <% for i in 1..5 %>
    <div class="cbp-item sabado">
      <div class="u-block-hover g-parent">
        <a class="cbp-lightbox" href="<%= image_url "porfolio/candela-Actriz-Sabado-Gigante_0#{i}.jpg" %>">
          <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="<%= image_url "porfolio/candela-Actriz-Sabado-Gigante_0#{i}.jpg" %>" alt="Candela Show Woman en Sábado Gigante">
        </a>
      </div>
    </div>
    <% end %>
    <!-- End Cube Portfolio Blocks - Item: Sábado Gigante -->

    <!-- Cube Portfolio Blocks - Item: TV Prófugos -->
    <div class="cbp-item profugos">
      <div class="u-block-hover g-parent">
        <a class="cbp-lightbox" href="<%= image_url 'porfolio/candela-profugos_01.jpg' %>">
          <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="<%= image_url 'porfolio/candela-profugos_01.jpg' %>" alt="Candela Show Woman en Prófugos HBO">
        </a>
      </div>
    </div>
    <!-- End Cube Portfolio Blocks - Item: TV Prófugos -->

    <!-- Cube Portfolio Blocks - Item: prensa -->
    <% for i in 1..7 %>
    <div class="cbp-item prensa">
      <div class="u-block-hover g-parent">
        <a class="cbp-lightbox" href="<%= image_url "porfolio/Candela-prensa-0#{i}.jpg" %>">
          <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="<%= image_url "porfolio/Candela-prensa-0#{i}.jpg" %>" alt="Candela Show Woman en la prensa">
        </a>
      </div>
    </div>
    <% end %>
    <!-- End Cube Portfolio Blocks - Item: prensa -->
  </div>
  <!-- Cube Portfolio Blocks - Items -->

  <!-- <div class="text-center">
    <a class="btn u-btn-primary g-bg-secondary g-color-primary g-color-white--hover g-bg-primary--hover g-font-weight-600 g-font-size-12 g-rounded-30 g-py-15 g-px-35" href="#">View all Unify works</a>
  </div> -->
</div>
<!-- End Cube Portfolio Blocks - Content -->
