<div id="actress-section" class="container g-py-100 g-bg-orange-lineargradient">
  <!-- Heading -->
  <div class="g-max-width-550 text-center mx-auto g-mb-70">
    <h2 class="text-uppercase g-color-main-light-v1 g-font-weight-600 g-font-size-13 g-letter-spacing-2 mb-4 g-color-white">En el campo actoral ha recorrido un largo camino</h2>
    <h2 class="h3 mb-5 g-color-white">Una muestra de su participación en películas y series</h2>
  </div>
  <!-- End Heading -->
  <!-- Gallery Content -->
  <div class="row">
    <!-- Book -->
    <div class="col-md-6 col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
        <!-- Article Image -->
        <img class="w-100 u-block-hover__main--zoom-v1" src="<%= image_url "porfolio/candela-cine-Los-12-Apostoles_0.jpg"%>" alt="Los 12 apostoles candela Show Woman">
        <!-- End Article Image -->

        <!-- Article Content -->
        <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
          <div class="g-flex-middle-item">
            <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">
              Los 12 apostoles
            </span>
            <h3 class="h4 d-inline-block g-color-white">Protagónico en película peruana</h3>
            <a class="js-fancybox btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="<%= image_url "porfolio/candela-cine-Los-12-Apostoles_01.jpg" %>" data-fancybox-gallery="lightbox-gallery-01-7">Ver Galería</a>
          </div>
        </div>
        <!-- End Article Content -->
      </article>
      <!-- End Article -->
      <% for i in 2..9 %>
        <img class="hidden-xs-up" src="<%= image_url "porfolio/candela-cine-Los-12-Apostoles_0#{i}.jpg" %>" alt="Backstage Los 12 apostoles candela Show Woman" data-fancybox-gallery="lightbox-gallery-01-7">
      <% end %>
    </div>
    <!-- End Book -->

    <!-- Show en vivo -->
    <div class="col-md-6 col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
        <!-- Article Image -->
        <img class="w-100 u-block-hover__main--zoom-v1" src="<%= image_url "porfolio/candela-cine-Como-Bombo-en-fiesta_0.jpg" %>" alt="Pelicula Como Bombo en Fiesta Candela Show Woman">
        <!-- End Article Image -->

        <!-- Article Content -->
        <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
          <div class="g-flex-middle-item">
            <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">
              Como Bombo en fiesta
            </span>
            <h3 class="h4 d-inline-block g-color-white">La película de Bombo Fica</h3>
            <a class="js-fancybox btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="<%= image_url "porfolio/candela-cine-Como-Bombo-en-fiesta_01.jpg" %>" data-fancybox-gallery="lightbox-gallery-01-8">Ver Galería</a>
          </div>
        </div>
        <!-- End Article Content -->
      </article>
      <!-- End Article -->
      <% for i in 2..3 %>
        <img class="hidden-xs-up" src="<%= image_url "porfolio/candela-cine-Como-Bombo-en-fiesta_0#{i}.jpg" %>" alt="Pelicula Como Bombo en Fiesta Candela Show Woman" data-fancybox-gallery="lightbox-gallery-01-8">
      <% end %>
    </div>
    <!-- End Show en vivo -->

    <!-- TV -->
    <div class="col-md-6 col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
        <!-- Article Image -->
        <img class="w-100 u-block-hover__main--zoom-v1" src="<%= image_url "porfolio/candela-Actriz-Sabado-Gigante_0.jpg" %>" alt="Candela Show Woman en Sábado Gigante">
        <!-- End Article Image -->

        <!-- Article Content -->
        <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
          <div class="g-flex-middle-item">
            <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">
              Sábado Gigante
            </span>
            <h3 class="h4 d-inline-block g-color-white">Mi participación en Sábado Gigante</h3>
            <a class="js-fancybox btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="<%= image_url "porfolio/candela-Actriz-Sabado-Gigante_01.jpg" %>" data-fancybox-gallery="lightbox-gallery-01-9">Ver Galería</a>
          </div>
        </div>
        <!-- End Article Content -->
      </article>
      <!-- End Article -->
      <% for i in 2..5 %>
        <img class="hidden-xs-up" src="<%= image_url "porfolio/candela-Actriz-Sabado-Gigante_0#{i}.jpg" %>" alt="Candela Show Woman en Sábado Gigante" data-fancybox-gallery="lightbox-gallery-01-9">
      <% end %>
    </div>
    <!-- End TV -->

    <!-- Prensa -->
    <div class="col-md-6 col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
        <!-- Article Image -->
        <img class="w-100 u-block-hover__main--zoom-v1" src="<%= image_url "porfolio/candela-profugos_0.jpg" %>" alt="Candela en la prensa">
        <!-- End Article Image -->

        <!-- Article Content -->
        <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
          <div class="g-flex-middle-item">
            <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">
              Prófugos
            </span>
            <h3 class="h4 d-inline-block g-color-white">Serie Chilena de HBO</h3>
            <a class="js-fancybox btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="<%= image_url "porfolio/candela-profugos_01.jpg" %>" data-fancybox-gallery="lightbox-gallery-01-10">Ver Galería</a>
          </div>
        </div>
        <!-- End Article Content -->
      </article>
      <!-- End Article -->

    </div>
    <!-- End prensa -->

    <!-- Videoteca -->
    <div class="col-md-6 col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
        <!-- Article Image -->
        <img class="w-100 u-block-hover__main--zoom-v1" src="<%= image_url "porfolio/Candela-infieles.jpg" %>" alt="Candela Show Woman">
        <!-- End Article Image -->

        <!-- Article Content -->
        <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
          <div class="g-flex-middle-item">
            <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">Infieles</span>
            <h3 class="h4 d-inline-block  g-color-white">Protagónico en capítulo El Desalojo</h3>
            <a class="js-fancybox-media btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="http://www.youtube.com/embed/vIX-XyqQ84M?autoplay=0" data-fancybox-hidden-gallery="lightbox-gallery-01-11">Ver Video</a>
          </div>
        </div>
        <!-- End Article Content -->
      </article>
      <!-- End Article -->
      </div>
    <!-- End Videoteca -->

    <!-- Video Clip -->
    <div class="col-md-6 col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
        <!-- Article Image -->
        <img class="w-100 u-block-hover__main--zoom-v1" src="<%= image_url "porfolio/Candela-telenovela.jpg" %>" alt="Candela Show Woman video clip">
        <!-- End Article Image -->

        <!-- Article Content -->
        <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
          <div class="g-flex-middle-item">
            <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">Compilado</span>
            <h3 class="h4 d-inline-block  g-color-white">También he participado en algunas telenovelas</h3>
            <a class="js-fancybox-media btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="http://www.youtube.com/embed/EgAWhBWQepY?autoplay=0" data-fancybox-hidden-gallery="lightbox-gallery-01-12">Ver Video</a>
          </div>
        </div>
        <!-- End Article Content -->
      </article>
      <!-- End Article -->
    </div>
    <!-- End Video Clip -->
  </div>
  <!-- End Gallery Content -->
</div>
