<div class="g-overflow-hidden">
  <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery" style="background-color:transparent;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
    <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
      <ul>  <!-- SLIDE  -->
        <li data-index="rs-2800" data-transition="curtain-1" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_url 'revolution/Candela-show-woman_1.jpg'%>" data-rotate="0" data-saveperformance="off" data-title="Candela Show Woman" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_url 'revolution/Candela-show-woman_1.jpg'%>" alt="Candela Show Woman" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
          <!-- LAYERS -->
          <%= render(
            partial: 'layer',
            locals: { frase: 'Candela Showoman'}
          )%>
        </li>

        <li data-index="rs-2801" data-transition="slideup" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_url 'revolution/Candela-show-woman_2.jpg'%>" data-rotate="0" data-saveperformance="off" data-title="Candela Show Woman" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_url 'revolution/Candela-show-woman_2.jpg'%>" alt="Candela Show Woman" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
          <!-- LAYERS -->
          <%= render(
            partial: 'layer',
            locals: { frase: 'Transmite Alegría y Diversión'}
          )%>
        </li>

        <li data-index="rs-2802" data-transition="curtain-2" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_url 'revolution/Candela-show-woman_3.jpg'%>" data-rotate="0" data-saveperformance="off" data-title="Candela Show Woman" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_url 'revolution/Candela-show-woman_3.jpg'%>" alt="Candela Show Woman" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
          <!-- LAYERS -->
          <%= render(
            partial: 'layer',
            locals: { frase: 'Sensualidad, Glamur y Ritmo'}
          )%>
        </li>

        <li data-index="rs-2803" data-transition="curtain-1" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_url 'revolution/Candela-show-woman_4.jpg'%>" data-rotate="0" data-saveperformance="off" data-title="Candela Show Woman" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_url 'revolution/Candela-show-woman_4.jpg'%>" alt="Candela Show Woman" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
          <!-- LAYERS -->
          <%= render(
            partial: 'layer',
            locals: { frase: 'Show Latin Fusion y Burlesque'}
          )%>
        </li>

        <li data-index="rs-2805" data-transition="curtain-3" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="<%= image_url 'revolution/Candela-show-woman_6.jpg'%>" data-rotate="0" data-saveperformance="off" data-title="Candela Show Woman" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_url 'revolution/Candela-show-woman_6.jpg'%>" alt="Candela Show Woman" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
          <!-- LAYERS -->
          <%= render(
            partial: 'layer',
            locals: { frase: 'Una Voz que Transmite Alegria'}
          )%>
        </li>

      </ul>
      <div class="tp-bannertimer" style="height: 2px; background-color: rgba(255, 255, 255, .5);">
      </div>
    </div>
    </div>
  </div>
</div>
