
<!-- Timeline #01 -->
<div id="about-section" class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
  <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_7--after" style="height: 130%; background-image: url(<%= image_url 'Candela_show_woman.jpg' %>);"></div>
  <div class="container g-pt-100">
    <div class="text-center g-mb-50">
      <h2 class="h4 g-color-white">Mi Historia</h2>
    </div>

    <div class="row u-timeline-v1-wrap g-mx-minus-15">
      <!-- Timeline Box -->
      <div class="col-md-6 g-orientation-right g-pl-60 g-pl-15--md g-pr-40--md g-mb-60 g-mb-0--md">
        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-ml-13 g-ml-minus-10--md">
          <i class="fa fa-circle"></i>
        </div>

        <div class="g-pos-rel">
          <!-- Timeline Arrow -->
          <div class="hidden-sm-down u-triangle-inclusive-v1--left g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--left__front g-brd-white-left g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--left__back g-brd-gray-light-v4-left g-brd-gray-light-v4-right"></div>
          </div>

          <div class="hidden-md-up u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
          </div>
          <!-- End Timeline Arrow -->

          <!-- Timeline Content -->
          <article class="u-timeline-v1 g-pa-5">
            <figure class="g-pos-rel">
              <img class="img-fluid w-100" src="<%= image_url "Candela-eligeme-mega.jpg" %>" alt="Candela Elígema Mega">
            </figure>

            <div class="g-py-25 g-px-20">
              <h3 class="g-font-weight-300 g-mb-15 g-color-white g-color-primary--hover">
                Mi llegada a Chile
              </h3>

              <div class="g-mb-30">
                <p class="g-color-white">Carla Gonzales-Mogaburu, nació en Lima y llego a Chile en el año 2010. Su primera aparición en televisión se dio al año siguiente en el programa "Elígeme" de Megavisión.</p>
              </div>

          </article>
          <!-- End Timeline Content -->
        </div>
      </div>
      <!-- End Timeline Box -->

      <!-- Timeline Box -->
      <div class="col-md-6 g-orientation-left g-pl-60 g-pl-40--md g-mt-60--md g-mb-60 g-mb-0--md">
        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-mr-13 g-mr-minus-8--md">
          <i class="fa fa-circle"></i>
        </div>

        <div class="g-pos-rel">
          <!-- Timeline Arrow -->
          <div class="u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
          </div>
          <!-- End Timeline Arrow -->

          <!-- Timeline Content LA DOÑA CHILEVISION-->
          <article class="u-timeline-v1 g-pa-5">
            <figure class="g-pos-rel">
              <img class="img-fluid w-100" src= "<%= image_url "Candela-la-donia-chilevision.jpg"%>" alt="Candela en la doña chilevision">
            </figure>

            <div class="g-py-25 g-px-20">
              <h3 class="g-font-weight-300 g-mb-15 g-color-white g-color-primary--hover">
                Primeros pasos actorales en Chile
              </h3>

              <div class="g-mb-30">
                <p class="g-color-white">Luego, tuvo la oportunidad de participar en la teleserie "La Doña" de Chilevisión, estación que luego le daría un pequeño rol en "Infieles". Paralelamente, tuvo varias intervenciones en la teleserie "Maldita" de Megavisión y en distintas recreaciones de matinales.</p>
              </div>
            </div>
          </article>
          <!-- End Timeline Content -->
        </div>
      </div>
      <!-- End Timeline Box -->

      <!-- Timeline Box -->
      <div class="col-md-6 g-orientation-right g-pl-60 g-pl-15--md g-pr-40--md g-mb-60 g-mb-0--md">
        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-ml-13 g-ml-minus-10--md">
          <i class="fa fa-circle"></i>
        </div>

        <div class="g-pos-rel">
          <!-- Timeline Arrow -->
          <div class="hidden-sm-down u-triangle-inclusive-v1--left g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--left__front g-brd-white-left g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--left__back g-brd-gray-light-v4-left g-brd-gray-light-v4-right"></div>
          </div>

          <div class="hidden-md-up u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
          </div>
          <!-- End Timeline Arrow -->

          <!-- Timeline Content -->
          <article class="u-timeline-v1 g-pa-5">
            <figure class="g-pos-rel">
              <img class="img-fluid w-100" src="<%= image_url "Candela-infieles-el-desalojo.jpg"%>" alt="Candela Infieles el desalojo">
            </figure>

            <div class="g-py-25 g-px-20">
              <h3 class="g-font-weight-300 g-mb-15 g-color-white g-color-primary--hover">
                Protagonico en Infieles
              </h3>

              <div class="g-mb-30">
                <p class="g-color-white">Su buena actuación en "Infieles" tuvo su recompensa con el papel protagónico del capítulo "El Desalojo", el año 2012. Luego de ello, fue llamada a participar en varios sketchs del "Club de la Comedia" (Chilevisión) y a intervenir en un capítulo de "La Dimensión Rossa" de Televisión Nacional de Chile, canal que también la consideró para las grabaciones de la serie "El remplazante".</p>
              </div>
            </div>
          </article>
          <!-- End Timeline Content -->
        </div>
      </div>
      <!-- End Timeline Box -->

      <!-- Timeline Box -->
      <div class="col-md-6 g-orientation-left g-pl-60 g-pl-40--md g-mt-60--md g-mb-60 g-mb-0--md">
        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-ml-13 g-mr-minus-8--md">
          <i class="fa fa-circle"></i>
        </div>

        <div class="g-pos-rel">
          <!-- Timeline Arrow -->
          <div class="u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
          </div>
          <!-- End Timeline Arrow -->

          <!-- Timeline Content -->
          <article class="u-timeline-v1 g-pa-5">
            <figure class="g-pos-rel">
              <img class="img-fluid w-100" src="<%= image_url "Candela-Sabado-Gigante.jpg" %>" alt="Candela en Sabado Gigante">
            </figure>

            <div class="g-py-25 g-px-20">
              <h3 class="g-font-weight-300 g-mb-15 g-color-white g-color-primary--hover">
                Modelo en Sabados Gigante
              </h3>

              <div class="g-mb-30">
                <p class="g-color-white">En el año XXXX participo como modelo y en rutina de "Sábados Gigantes LA GALA" Además, su belleza y su rostro han sido parte de anuncios comerciales de TV, como uno de los spots de la campaña "El último verano del mundo" de "Cerveza Cristal".</p>
              </div>

            </div>
          </article>
          <!-- End Timeline Content -->
        </div>
      </div>
      <!-- End Timeline Box -->

      <!-- Timeline Box -->
      <div class="col-md-6 g-orientation-right g-pl-60 g-pl-15--md g-pr-40--md g-mb-60 g-mb-0--md">
        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-ml-13 g-ml-minus-10--md">
          <i class="fa fa-circle"></i>
        </div>

        <div class="g-pos-rel">
          <!-- Timeline Arrow -->
          <div class="hidden-sm-down u-triangle-inclusive-v1--left g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--left__front g-brd-white-left g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--left__back g-brd-gray-light-v4-left g-brd-gray-light-v4-right"></div>
          </div>

          <div class="hidden-md-up u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
          </div>
          <!-- End Timeline Arrow -->

          <!-- Timeline Content -->
          <article class="u-timeline-v1 g-pa-5">
            <figure class="g-pos-rel">
              <img class="img-fluid w-100" src="<%= image_url "Candela-video-clip.jpg" %>" alt="Image Description">
            </figure>

            <div class="g-py-25 g-px-20">
              <h3 class="g-font-weight-300 g-mb-15 g-color-white g-color-primary--hover">
                Participación Video Clips
              </h3>

              <div class="g-mb-30">
                <p class="g-color-white">También en el mundo de los videos clips ha visto su irrupción el año 2012, en las últimas producciones de "Pata 'e cumbia", "de fuga" y "Mambo sour".</p>
              </div>
            </div>
          </article>
          <!-- End Timeline Content -->
        </div>
      </div>
      <!-- End Timeline Box -->

      <!-- Timeline Box -->
      <div class="col-md-6 g-orientation-left g-pl-60 g-pl-40--md g-mt-60--md">
        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-ml-13 g-mr-minus-8--md">
          <i class="fa fa-circle"></i>
        </div>

        <div class="g-pos-rel">
          <!-- Timeline Arrow -->
          <div class="u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
            <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
            <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
          </div>
          <!-- End Timeline Arrow -->

          <!-- Timeline Content -->
          <article class="u-timeline-v1 g-pa-5">
            <figure class="g-pos-rel">
              <img class="img-fluid w-100" src="<%= image_url "Candela-perfeccionamiento.jpg"%>" alt="Candela perfeccionamiento">
            </figure>

            <div class="g-py-25 g-px-20">
              <h3 class="g-font-weight-300 g-mb-15 g-color-white g-color-primary--hover">
                Perfeccionamiento
              </h3>

              <div class="g-mb-30">
                <p class="g-color-white">Paralelamente, Carla ha seguido su camino de perfeccionamiento en las artes en la Academia de canto de Verónica Villarroel y la Academia de actuación de Fernando González.</p>
              </div>
            </div>
          </article>
          <!-- End Timeline Content -->
        </div>
      </div>
      <!-- End Timeline Box -->
    </div>
  </div>
</div>
<!-- End Timeline #01 -->
