<%= form_tag send_path,method: :post do %>
  <div class= "row">
    <div class="col-md-3">
      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
        <%= text_field_tag :name, nil, class: 'form-control g-brd-right-none', placeholder: 'Tú nombre' %>
        <div class="input-group-addon g-bg-white">
          <i class="fa fa-user"></i>
        </div>
      </label>
    </div>

    <div class="col-md-3">
      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
        <%= phone_field_tag :phone, nil, class: 'form-control g-brd-right-none', placeholder: 'Tú teléfono' %>
        <div class="input-group-addon g-bg-white">
          <i class="fa fa-phone"></i>
        </div>
      </label>
    </div>

    <div class="col-md-3">
      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
        <%= email_field_tag :email, nil, class: 'form-control g-brd-right-none', placeholder: 'Tú email' %>
        <div class="input-group-addon g-bg-white">
          <i class="fa fa-envelope-o"></i>
        </div>
      </label>
    </div>

    <div class="col-md-3">
      <%= submit_tag "Reserva Ahora", class: "btn btn-block btn-md u-btn-black text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5", role: "button", data: { disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
